body {
  background-color: rgb(53, 61, 59);
  color: rgb(152, 197, 197);

  h2 {
    font-family: Verdana, Geneva, Tahoma, sans-serif;
    text-align: center;
    margin-top: 2rem;
    font-weight: 600;
  }
}
